header {
    display: flex;
    justify-content: space-between;
    background-color: blue;
    color: white;
    width: 100vw ;
    height: 150px;
}

figure {
    width: 200px;
    height: 200px;
}

img {
    width: 100%;
}
.perro {
    width: 200px; /* Set the desired width */
    height: auto; /* Let the height adjust proportionally */
  }
